.playerPhoto {
    width: auto;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.playerName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: small;
}

.markPlayerName {
    background-color:#ffffff;
}

.markPlayerPrice {
    background-color:#FFFF00;
}

.playerPrice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

    font-size: small;
}